<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Главная</title>
</head>
<body class="page">
    <header class="header">
        <div class="container">
            <div class="header__nav">
                <div class="header__logo">
                    <a href="">
                        <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png" alt="Логотип">
                    </a>
                </div>
                <div class="header__nav-list">
                    <a href="" class="header__nav-list__item">Главная</a>
                    <a href="" class="header__nav-list__item">Новости</a>
                    <a href="contacts.html" class="header__nav-list__item">Контакты</a>
                </div>
                <div class="account">
                    <a href="" class="account__item">Вход</a>
                    <a href="" class="account__item">Регистрация</a>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <section class="main">
            <div class="container">
                <h1>Последние новости</h1>
                <div class="news-tags">
                    <a href="" class="news-tags__item active">Все</a>
                    <a href="" class="news-tags__item">Тег 1</a>
                    <a href="" class="news-tags__item">Тег 2</a>
                    <a href="" class="news-tags__item">Тег 3</a>
                    <a href="" class="news-tags__item">Тег 4</a>
                </div>
                <div class="news-list">
                    <a href="post.html" class="news-list__cart">
                        <div class="cart__image">
                            <img src="images/t1673684614.jpg" alt="">
                        </div>
                        <div class="cart__title">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, recusandae?</h3>
                        </div>
                        <div class="cart__footer">
                            <span class="cart__footer-date">10.01.2023</span>
                        </div>
                    </a>
                    <a href="post.html" class="news-list__cart">
                        <div class="cart__image">
                            <img src="images/post_image2.jpeg" alt="">
                        </div>
                        <div class="cart__title">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                        </div>
                        <div class="cart__footer">
                            <span class="cart__footer-date">10.01.2023</span>
                        </div>
                    </a>
                    <a href="post.html" class="news-list__cart">
                        <div class="cart__image">
                            <img src="images/post_image3.jpg" alt="">
                        </div>
                        <div class="cart__title">
                            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis perferendis maxime cupiditate suscipit.</h3>
                        </div>
                        <div class="cart__footer">
                            <span class="cart__footer-date">10.01.2023</span>
                        </div>
                    </a>
                    <a href="post.html" class="news-list__cart">
                        <div class="cart__image">
                            <img src="images/post_image4.jpg" alt="">
                        </div>
                        <div class="cart__title">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                        </div>
                        <div class="cart__footer">
                            <span class="cart__footer-date">10.01.2023</span>
                        </div>
                    </a>
                    <a href="post.html" class="news-list__cart">
                        <div class="cart__image">
                            <img src="images/post_image5.jpg" alt="">
                        </div>
                        <div class="cart__title">
                            <h3>Lorem ipsum dolor sit.</h3>
                        </div>
                        <div class="cart__footer">
                            <span class="cart__footer-date">10.01.2023</span>
                        </div>
                    </a>
                    <a href="post.html" class="news-list__cart">
                        <div class="cart__image">
                            <img src="images/post_image2.jpeg" alt="">
                        </div>
                        <div class="cart__title">
                            <h3>Lorem ipsum dolor sit.</h3>
                        </div>
                        <div class="cart__footer">
                            <span class="cart__footer-date">10.01.2023</span>
                        </div>
                    </a>
                </div>
                <div class="pagination">
                    <div class="news-tags">
                        <a href="" class="news-tags__item active">1</a>
                        <a href="" class="news-tags__item">2</a>
                        <a href="" class="news-tags__item">3</a>
                        <a href="" class="news-tags__item">4</a>
                        <a href="" class="news-tags__item">5</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-nav__list">
                <a class="footer-nav__list-item" href="">Главная</a>
                <a class="footer-nav__list-item" href="">Новости</a>
                <a class="footer-nav__list-item" href="">Контакты</a>
                <a class="footer-nav__list-item" href="">© 2023 Все права защищены</a>
            </div>
        </div>
    </footer>
</body>
</html>