<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Новость</title>
</head>
<body class="page">
    <header class="header">
        <div class="container">
            <div class="header__nav">
                <div class="header__logo">
                    <a href="">
                        <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png" alt="Логотип">
                    </a>
                </div>
                <div class="header__nav-list">
                    <a href="index.html" class="header__nav-list__item">Главная</a>
                    <a href="index.html" class="header__nav-list__item">Новости</a>
                    <a href="contacts.html" class="header__nav-list__item">Контакты</a>
                </div>
                <div class="account">
                    <a href="" class="account__item">Вход</a>
                    <a href="" class="account__item">Регистрация</a>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <section class="main">
            <div class="container">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <div class="post">
                    <div class="post__header">
                        <span>10.01.2023, 10:03</span>
                        <a href="#comments">10 Комментариев</a>
                    </div>
                    <div class="post__body">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum necessitatibus, quam nulla saepe quas sunt ipsum earum enim quibusdam quaerat placeat odit atque, numquam optio a quis perspiciatis non quisquam vel? Harum doloribus adipisci totam suscipit laborum sed omnis nam commodi delectus. Tenetur, quo optio! Laboriosam, sit fugiat impedit excepturi labore iure eos odio, ullam reiciendis explicabo, ipsa at ducimus. Incidunt, exercitationem vitae! Illum, repellendus. Quasi repudiandae minima illo, nobis, ipsum iusto illum provident consequatur accusamus mollitia ex quibusdam reprehenderit rem eaque officiis inventore vero facere in doloribus! Ducimus ipsa animi, a voluptates quod praesentium cupiditate aspernatur nulla eum enim?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi adipisci perferendis temporibus in dicta quas maxime debitis inventore voluptates distinctio.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quae!
                        </p>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum necessitatibus, quam nulla saepe quas sunt ipsum earum enim quibusdam quaerat placeat odit atque, numquam optio a quis perspiciatis non quisquam vel? Harum doloribus adipisci totam suscipit laborum sed omnis nam commodi delectus. Tenetur, quo optio! Laboriosam, sit fugiat impedit excepturi labore iure eos odio, ullam reiciendis explicabo, ipsa at ducimus. Incidunt, exercitationem vitae! Illum, repellendus. Quasi repudiandae minima illo, nobis, ipsum iusto illum provident consequatur accusamus mollitia ex quibusdam reprehenderit rem eaque officiis inventore vero facere in doloribus! Ducimus ipsa animi, a voluptates quod praesentium cupiditate aspernatur nulla eum enim?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi adipisci perferendis temporibus in dicta quas maxime debitis inventore voluptates distinctio.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quae!
                        </p>
                    </div>
                    <div class="post__footer">
                        <h3>Комментарии</h3>
                        <form class="comment-form">
                            <input name="comment-text" placeholder="Написать комментарий">
                            <button>Отправить</button>
                        </form>
                        <div id="comments" class="comment__list">
                            <div class="comment__item">
                                <div class="comment__header">
                                    <span class="comment__username">Username1</span>
                                    <span class="comment__date">10.01.2023</span>
                                </div>
                                <div class="comment__body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="comment__item">
                                <div class="comment__header">
                                    <span class="comment__username">Username2</span>
                                    <span class="comment__date">10.01.2023</span>
                                </div>
                                <div class="comment__body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aliquam.</p>
                                </div>
                            </div>
                            <div class="comment__item">
                                <div class="comment__header">
                                    <span class="comment__username">Username3</span>
                                    <span class="comment__date">10.01.2023</span>
                                </div>
                                <div class="comment__body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora non repellat vero id, accusamus aperiam! Est cum molestias impedit sunt?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-nav__list">
                <a class="footer-nav__list-item" href="">Главная</a>
                <a class="footer-nav__list-item" href="">Новости</a>
                <a class="footer-nav__list-item" href="">Контакты</a>
                <a class="footer-nav__list-item" href="">© 2023 Все права защищены</a>
            </div>
        </div>
    </footer>
</body>
</html>